.container {
  width: 1600px;
  margin: 0 auto;
 }

.jumbotron {
  background-color: lightgray;
}
 
 h2 {
  text-align: center;
  font-size: 30px;
 }
 
 p {
  text-align: center;
 }
 
 #make-number {
   margin: 0 auto;
 }
 
 #remake {
   margin: 0 auto;
 }
