.container {
  width: 1024px;
  text-align: center;
 }

.jumbotron {
  display: inline-block;
}
 
 h2 {
  text-align: center;
 }
 
 p {
  text-align: center;
 }
 
 #make-number {
  display: inline-block;
 }
 
 #remake {
  display: inline-block
 }
